@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;background-color: black;
    background-image: url("./assets/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  color: white;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}