.video-paper {
  padding: 20px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  /* Transparent black */
  border-radius: 16px !important;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6) !important;
  color: #8b0000 !important;
  border: 1px solid #8b0000 !important;
  transition: all 0.3s ease;
}

.video-paper:hover {
  box-shadow: 0px 10px 25px rgba(139, 0, 0, 0.6) !important;
  transform: scale(1.01);
}

.video-name {
  font-weight: 700 !important;
  font-size: 1.2rem !important;
  color: #8b0000 !important;
  margin-bottom: 10px;
}

.video-control-btn {
  background-color: #8b0000 !important;
  border: 1px solid #8b0000 !important;
  color: white !important;
}

.video-control-btn:hover {
  background-color: #a00000 !important;
  border: 1px solid #a00000 !important;
}

.decline-call-btn {
  background-color: #8b0000 !important;
  border: 1px solid #8b0000 !important;
  color: white !important;
}

.decline-call-btn:hover {
  background-color: #a00000 !important;
  border: 1px solid #a00000 !important;
}